body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
    
    .container {
                    max-width: 800px;
                    margin: 0 auto;
                    color: #5d5959;
                    font-family: sans_serif;
                    padding-left: 20px;
                    padding-right: 20px;
}

.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


.commenter {
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
h1{
    font-size:20px;
    font-family:TTNorms-Bold, sans-serif;
    font-weight:normal;

    text-transform:uppercase;
  letter-spacing:0.1rem;  
  
}
.navbar {
     margin: 0 auto;
    padding: 0;
    width: 80%;
   /* padding-top: 15px;
    padding-bottom: 15px; */
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 3px;
     background-color:"#1126290d";
   }
   .nav ul li {
    list-style-type: none;
    display: inline;
    overflow: hidden;
}
.nav li a {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}
.nav li a:hover {
    background: white;
    color: #DF3030;
}


/*.navbar-nav li a:hover {
    color: #1abc9c ;
}*/
.margin {margin-bottom: 45px;}
